@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
 body {
  padding:1.2rem;
   
  background-image: url('../images/main-background.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  
}

h1{
  font-size:2.5rem;
  
  font-family: 'Merienda', cursive;
}
p{
  font-size:1.5rem;
}